.menu {
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, 0); */
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.menu__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__list-item {
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__link_active {
  font-size: 26px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.menu__link:hover {
  color: #2992d8;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .menu {
    justify-content: center;
  }

  .menu__list {
    flex-direction: column;
  }
}